<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="{% url 'movies:home' %}">
            🎬 Кинорекомендатель
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'movies:home' %}">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'movies:movie_list' %}">Все фильмы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'movies:search' %}">Поиск</a>
                </li>

                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'movies:recommendations' %}">Рекомендации</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'movies:my_ratings' %}">Мои оценки</a>
                </li>
                {% endif %}
            </ul>

            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        👤 {{ user.phone }}
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'movies:set_genre_preferences' %}">Мои предпочтения</a></li>
                        <li><a class="dropdown-item" href="{% url 'movies:my_ratings' %}">Мои оценки</a></li>
                        <li><a class="dropdown-item" href="{% url 'export:export_recommendations_pdf' %}">📄 Экспорт Рекомендаций</a></li>
                        {% if user.is_superuser %}
                        <li><a class="dropdown-item" href="{% url 'export:import_file' %}">📥 Импорт файлов</a></li>
                        {% endif %}
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <form method="post" action="{% url 'users:logout' %}" class="d-inline">
                                {% csrf_token %}
                                <button type="submit" class="dropdown-item">Выйти</button>
                            </form>
                        </li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:login' %}">Войти</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:signup' %}">Регистрация</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>